@charset 'utf-8';
/*
[Contents]

	0- Global
	1- Links
	2- Content(For tinymce)
	3- Form
*/
/* =0 Global
---------------------------------------------------------------------------------------------------------------------*/
.hide {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
/* Clearfix
------------------------------------------------------*/
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
/* for IE6 */
*html .clearfix {
  zoom: 1;
}
/* for IE7 */
* + html .clearfix {
  zoom: 1;
}
/* Clearfix for LESS
------------------------------------------------------*/
/* =1 Links
---------------------------------------------------------------------------------------------------------------------*/
a {
  text-decoration: none;
  cursor: pointer !important;
}
a:hover {
  text-decoration: none;
}
/* =2 Content(For Tinymce)
---------------------------------------------------------------------------------------------------------------------*/
/* margin/padding useing px2rem  for LESS
------------------------------------------------------*/
/*CSS reset*/
html {
  color: #000;
  background: #FFF;
  font-size: 13px;
}
[data-dpr="1.5"] html {
  font-size: 35px;
}
[data-dpr="2"] html {
  font-size: 26px;
}
[data-dpr="2.5"] html {
  font-size: 33px;
}
[data-dpr="2.75"] html {
  font-size: 36px;
}
[data-dpr="3"] html {
  font-size: 39px;
}
[data-dpr="4"] html {
  font-size: 52px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
strong {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
footer,
header,
nav {
  display: block;
}
fieldset,
img {
  border: 0;
}
var,
em,
strong,
b,
i {
  font-style: normal;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}
del,
ins {
  text-decoration: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
sub {
  vertical-align: baseline;
}
legend {
  color: #000;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input,
button,
textarea,
select {
  *font-size: 100%;
}
.clearfix {
  clear: both;
  zoom: 1;
  *height: 0;
  *overflow: hidden;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*消除输入框和按钮的原生外观，在iOS上加上这个属性才能给按钮和输入框自定义样式*/
input {
  -webkit-appearance: none;
  -moz-appearance: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  padding: 0;
}
::-webkit-scrollbar {
  opacity: 0;
  width: 0;
}
/*滚动条透明*/
::-webkit-scrollbar-track {
  opacity: 0;
}
/*滚动条透明*/
::-webkit-scrollbar-thumb {
  opacity: 0;
}
/*滚动条透明*/
.color-white {
  color: white !important;
}
.color-black {
  color: black !important;
}
.color-red {
  color: red !important;
}
.color-orange {
  color: orange !important;
}
.color-blue {
  color: blue !important;
}
.color-ddd {
  color: #ddd !important;
}
.background-white {
  background: white !important;
}
.background-black {
  background: black !important;
}
.background-red {
  background: red !important;
}
.background-orange {
  background: orange !important;
}
.background-blue {
  background: blue !important;
}
.background-ddd {
  background: #ddd !important;
}
.close {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #008AD4;
  font-family: Arial;
  cursor: pointer;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/*--- header start ---*/
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  font-size: 28px;
  height: 88px;
  line-height: 88px;
  overflow: hidden;
  background: #5998FE;
  text-align: center;
  color: #fff;
}
.header-box {
  background: #5998FE;
  margin: 0 auto;
  position: relative;
  height: 400px;
}
.header-box p {
  width: 550px;
  margin: 0 auto;
}
/*--- header end ---*/
html,
body {
  width: 100%;
  overflow: hidden ;
  background: #efeff3;
  font-family: "微软雅黑";
  color: #333;
  font-size: 13px;
}
[data-dpr="1.5"] html,
[data-dpr="1.5"] body {
  font-size: 35px;
}
[data-dpr="2"] html,
[data-dpr="2"] body {
  font-size: 26px;
}
[data-dpr="2.5"] html,
[data-dpr="2.5"] body {
  font-size: 33px;
}
[data-dpr="2.75"] html,
[data-dpr="2.75"] body {
  font-size: 36px;
}
[data-dpr="3"] html,
[data-dpr="3"] body {
  font-size: 39px;
}
[data-dpr="4"] html,
[data-dpr="4"] body {
  font-size: 52px;
}
/*--- 首页内容 start ---*/
.index_box {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  overflow-y: auto;
  font-size: 13px;
}
[data-dpr="1.5"] .index_box {
  font-size: 35px;
}
[data-dpr="2"] .index_box {
  font-size: 26px;
}
[data-dpr="2.5"] .index_box {
  font-size: 33px;
}
[data-dpr="2.75"] .index_box {
  font-size: 36px;
}
[data-dpr="3"] .index_box {
  font-size: 39px;
}
[data-dpr="4"] .index_box {
  font-size: 52px;
}
.index_box dl dd {
  padding-left: 0.47rem;
  padding-right: 0.47rem;
  padding-top: 0.31rem;
  padding-bottom: 0.31rem;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.index_box dl dd a {
  color: #333;
  width: 100%;
  display: block;
}
/*--- 首页内容 end ---*/
/*--- iconfont start ---*/
@font-face {
  font-family: "iconfont";
  src: url('iconfont/iconfont.eot?t=1476003917');
  /* IE9*/
  src: url('iconfont/iconfont.eot?t=1476003917#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont/iconfont.woff?t=1476003917') format('woff'), /* chrome, firefox */ url('iconfont/iconfont.ttf?t=1476003917') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('iconfont/iconfont.svg?t=1476003917#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*--- iconfont end ---*/
/*--- icon大小 start ---*/
.icon-a {
  position: absolute;
  top: 0;
  left: 28px;
  font-size: 48px;
}
.icon-b {
  position: absolute;
  top: 0;
  right: 28px;
  font-size: 48px;
}
.icon-c {
  color: #5998FE;
  font-size: 48px;
}
/*--- icon大小 end ---*/
.num-box {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0.31rem;
  padding-bottom: 0rem;
  padding: 0.31rem;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.input {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0.16rem;
  padding-bottom: 0rem;
  padding: 0.16rem;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  border: solid 1px #ddd;
  outline: none;
}
[data-dpr="1.5"] .input {
  font-size: 37px;
}
[data-dpr="2"] .input {
  font-size: 28px;
}
[data-dpr="2.5"] .input {
  font-size: 35px;
}
[data-dpr="2.75"] .input {
  font-size: 39px;
}
[data-dpr="3"] .input {
  font-size: 42px;
}
[data-dpr="4"] .input {
  font-size: 56px;
}
.inputbox {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0.16rem;
  padding-bottom: 0rem;
  padding: 0.16rem;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0.16rem;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 100%;
  border: solid 1px #ddd;
}
.inputbox input {
  padding-right: 0.47rem;
  margin-left: 0.47rem;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  width: 100%;
  overflow: hidden;
  outline: none;
}
.inputbox input:focus {
  border: none;
  color: inherit;
}
.icon-input {
  font-size: 14px;
  top: 0.17rem;
  position: absolute;
  color: #6d6b6b;
}
[data-dpr="1.5"] .icon-input {
  font-size: 37px;
}
[data-dpr="2"] .icon-input {
  font-size: 28px;
}
[data-dpr="2.5"] .icon-input {
  font-size: 35px;
}
[data-dpr="2.75"] .icon-input {
  font-size: 39px;
}
[data-dpr="3"] .icon-input {
  font-size: 42px;
}
[data-dpr="4"] .icon-input {
  font-size: 56px;
}
.flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.flex .flex-item {
  flex-shrink: 1;
  background: #cfcfcf;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin-left: 0.31rem;
}
/*--- footer start ---*/
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  font-size: 28px;
  height: 88px;
  line-height: 88px;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
.footer-box {
  background: #5998FE;
  margin: 0 auto;
  height: 88px;
  position: relative;
}
/*--- footer end ---*/
/*--- 按钮 start ---*/
.btn-box {
  margin-left: 0.31rem;
  margin-right: 0rem;
  margin-top: 0.31rem;
  margin-bottom: 0rem;
}
.button {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-transition: 500ms;
  -webkit-transition: 500ms;
  transition: 500ms;
  padding-left: 0.31rem;
  padding-right: 0.31rem;
  padding-top: 0.16rem;
  padding-bottom: 0.16rem;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #ddd;
  position: relative;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}
.button i {
  margin-right: 5px;
  color: #333;
}
.button-primary {
  color: black;
  background: white;
  /* box-shadow:5px 5px 5px #999 inset; 内阴影*/
}
.button-disabled {
  color: rgba(255, 255, 255, 0.6);
}
.button-primary:not(.button-disabled):active {
  color: rgba(255, 255, 255, 0.4);
  background: #ddd;
}
.gray {
  background: #CCCCCC;
  pointer-events: none;
}
/*--- 按钮 end ---*/
/*--- 弹出层和遮罩层 end ---*/
.mask-transparent {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.mask-dialog {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
/*提示*/
.toast {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: fixed;
  z-index: 3;
  width: 30%;
  height: 100px;
  line-height: 100px;
  left: 50%;
  margin-left: -15%;
  background: rgba(40, 40, 40, 0.75);
  text-align: center;
  color: #FFFFFF;
}
/*弹窗对话选择*/
.dialog-box {
  margin: 20px 0 0 20px;
}
.dialog {
  position: fixed;
  z-index: 13;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #FAFAFC;
  text-align: center;
  border-radius: 10px;
}
.dialog-hd {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0.31rem;
  padding-bottom: 0rem;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
[data-dpr="1.5"] .dialog-hd {
  font-size: 43px;
}
[data-dpr="2"] .dialog-hd {
  font-size: 32px;
}
[data-dpr="2.5"] .dialog-hd {
  font-size: 40px;
}
[data-dpr="2.75"] .dialog-hd {
  font-size: 44px;
}
[data-dpr="3"] .dialog-hd {
  font-size: 48px;
}
[data-dpr="4"] .dialog-hd {
  font-size: 64px;
}
.dialog-bd {
  padding-left: 0.63rem;
  padding-right: 0.63rem;
  padding-top: 0.47rem;
  padding-bottom: 0.47rem;
}
.dialog-ft {
  margin-top: 0.31rem;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 0.94rem;
  line-height: 0.94rem;
  border-top: 1px solid #d5d5d6;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.dialog-ft a {
  border-left: 1px solid #d5d5d6;
}
.dialog-ft a:first-child {
  border-left: 1px solid #d5d5d6;
}
.dialog-ft a:active {
  background: #eee;
}
.dialog-btn {
  flex: 1;
  color: red;
}
.dialog-btn.default {
  color: #333;
}
.dialog-btn.primary {
  color: #0994DA;
}
/*菜单选择器*/
.actionsheet-box {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 50px;
  -webkit-overflow-scrolling: touch;
}
.actionsheet-box a {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.actionsheet-box .ul02 {
  width: 100%;
  overflow: auto;
  font-size: 14px;
}
.actionsheet-box .ul02 li {
  width: 6.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  border-bottom: 1px solid #ddd;
}
.actionsheet-box .ul02 li a {
  color: #333;
}
.actionsheet-box01 {
  transition: transform .7s;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.actionsheet-box02 {
  background: red;
  transform: translate3d(-60%, 0px, 0px) scale(0.8);
}
.showUp {
  height: 0.94rem;
  line-height: 0.94rem;
  background: #fff;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.showLeft {
  height: 0.94rem;
  line-height: 0.94rem;
  margin: 0 auto;
  background: #fff;
  width: 50%;
  text-align: center;
}
.showLeft01 {
  margin-top: 0.31rem;
}
.mask-transition {
  display: none;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background .3s;
  transition: background .3s;
}
.transition-toggle {
  background: rgba(0, 0, 0, 0.6) !important;
}
.actionsheet-toggle {
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}
/*菜单样式*/
.actionsheet-up {
  background: #E7E1CD;
  position: fixed;
  bottom: 0;
  display: none;
  z-index: 3;
  width: 100%;
}
.actionsheet-menu {
  background-color: #FFFFFF;
}
.actionsheet-action {
  margin-top: 6px;
  background-color: #FFFFFF;
}
.actionsheet-cell {
  position: relative;
  padding: 10px 0;
  text-align: center;
}
.actionsheet-cell:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.actionsheet-cell:active {
  background-color: #ECECEC;
}
.actionsheet-cell:first-child:before {
  display: none;
}
/*向左侧滑内容*/
.mask {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background .3s;
  transition: background .3s;
}
.scroll-left {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.scroll-leftbox {
  background: #333;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow: auto;
  visibility: visible;
  /*transform: translate3d(100%, 0, 0);
	transition: transform 350ms cubic-bezier(.165,.84,.44,1);
	-webkit-transform: translate3d(100%, 0, 0);
	-webkit-transition: transform 350ms cubic-bezier(.165,.84,.44,1);*/
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  /*-webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);*/
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
@keyframes slideIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOut {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.slideIn {
  -webkit-animation: slideIn .2s forwards;
  -o-animation: slideIn .2s forwards;
  animation: slideIn .2s forwards;
}
.slideOut {
  -webkit-animation: slideOut .2s forwards;
  -o-animation: slideOut .2s forwards;
  animation: slideOut .2s forwards;
}
/*加载动画 start*/
.loading {
  position: absolute;
  width: 0px;
  z-index: 2000000000;
  left: 50%;
  top: 50px;
}
.loading-p {
  margin-top: 2.5rem;
}
.loading-leaf {
  position: absolute;
  opacity: 0.25;
}
.loading-leaf:before {
  content: " ";
  position: absolute;
  width: .25rem;
  height: .075rem;
  background: #d1d1d5;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px;
  border-radius: 1px;
  -webkit-transform-origin: left 50% 0px;
  transform-origin: left 50% 0px;
}
.loading-leaf-0 {
  -webkit-animation: leaf-0 1.25s linear infinite;
  animation: leaf-0 1.25s linear infinite;
}
.loading-leaf-0:before {
  -webkit-transform: rotate(0deg) translate(7.92px, 0px);
  transform: rotate(0deg) translate(7.92px, 0px);
}
.loading-leaf-1 {
  -webkit-animation: leaf-1 1.25s linear infinite;
  animation: leaf-1 1.25s linear infinite;
}
.loading-leaf-1:before {
  -webkit-transform: rotate(30deg) translate(7.92px, 0px);
  transform: rotate(30deg) translate(7.92px, 0px);
}
.loading-leaf-2 {
  -webkit-animation: leaf-2 1.25s linear infinite;
  animation: leaf-2 1.25s linear infinite;
}
.loading-leaf-2:before {
  -webkit-transform: rotate(60deg) translate(7.92px, 0px);
  transform: rotate(60deg) translate(7.92px, 0px);
}
.loading-leaf-3 {
  -webkit-animation: leaf-3 1.25s linear infinite;
  animation: leaf-3 1.25s linear infinite;
}
.loading-leaf-3:before {
  -webkit-transform: rotate(90deg) translate(7.92px, 0px);
  transform: rotate(90deg) translate(7.92px, 0px);
}
.loading-leaf-4 {
  -webkit-animation: leaf-4 1.25s linear infinite;
  animation: leaf-4 1.25s linear infinite;
}
.loading-leaf-4:before {
  -webkit-transform: rotate(120deg) translate(7.92px, 0px);
  transform: rotate(120deg) translate(7.92px, 0px);
}
.loading-leaf-5 {
  -webkit-animation: leaf-5 1.25s linear infinite;
  animation: leaf-5 1.25s linear infinite;
}
.loading-leaf-5:before {
  -webkit-transform: rotate(150deg) translate(7.92px, 0px);
  transform: rotate(150deg) translate(7.92px, 0px);
}
.loading-leaf-6 {
  -webkit-animation: leaf-6 1.25s linear infinite;
  animation: leaf-6 1.25s linear infinite;
}
.loading-leaf-6:before {
  -webkit-transform: rotate(180deg) translate(7.92px, 0px);
  transform: rotate(180deg) translate(7.92px, 0px);
}
.loading-leaf-7 {
  -webkit-animation: leaf-7 1.25s linear infinite;
  animation: leaf-7 1.25s linear infinite;
}
.loading-leaf-7:before {
  -webkit-transform: rotate(210deg) translate(7.92px, 0px);
  transform: rotate(210deg) translate(7.92px, 0px);
}
.loading-leaf-8 {
  -webkit-animation: leaf-8 1.25s linear infinite;
  animation: leaf-8 1.25s linear infinite;
}
.loading-leaf-8:before {
  -webkit-transform: rotate(240deg) translate(7.92px, 0px);
  transform: rotate(240deg) translate(7.92px, 0px);
}
.loading-leaf-9 {
  -webkit-animation: leaf-9 1.25s linear infinite;
  animation: leaf-9 1.25s linear infinite;
}
.loading-leaf-9:before {
  -webkit-transform: rotate(270deg) translate(7.92px, 0px);
  transform: rotate(270deg) translate(7.92px, 0px);
}
.loading-leaf-10 {
  -webkit-animation: leaf-10 1.25s linear infinite;
  animation: leaf-10 1.25s linear infinite;
}
.loading-leaf-10:before {
  -webkit-transform: rotate(300deg) translate(7.92px, 0px);
  transform: rotate(300deg) translate(7.92px, 0px);
}
.loading-leaf-11 {
  -webkit-animation: leaf-11 1.25s linear infinite;
  animation: leaf-11 1.25s linear infinite;
}
.loading-leaf-11:before {
  -webkit-transform: rotate(330deg) translate(7.92px, 0px);
  transform: rotate(330deg) translate(7.92px, 0px);
}
@-webkit-keyframes leaf-0 {
  0% {
    opacity: 0.25;
  }
  0.01% {
    opacity: 0.25;
  }
  0.02% {
    opacity: 1;
  }
  60.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes leaf-1 {
  0% {
    opacity: 0.25;
  }
  8.34333% {
    opacity: 0.25;
  }
  8.35333% {
    opacity: 1;
  }
  68.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes leaf-2 {
  0% {
    opacity: 0.25;
  }
  16.6767% {
    opacity: 0.25;
  }
  16.6867% {
    opacity: 1;
  }
  76.6767% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes leaf-3 {
  0% {
    opacity: 0.25;
  }
  25.01% {
    opacity: 0.25;
  }
  25.02% {
    opacity: 1;
  }
  85.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes leaf-4 {
  0% {
    opacity: 0.25;
  }
  33.3433% {
    opacity: 0.25;
  }
  33.3533% {
    opacity: 1;
  }
  93.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes leaf-5 {
  0% {
    opacity: 0.270958333333333;
  }
  41.6767% {
    opacity: 0.25;
  }
  41.6867% {
    opacity: 1;
  }
  1.67667% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.270958333333333;
  }
}
@-webkit-keyframes leaf-6 {
  0% {
    opacity: 0.375125;
  }
  50.01% {
    opacity: 0.25;
  }
  50.02% {
    opacity: 1;
  }
  10.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.375125;
  }
}
@-webkit-keyframes leaf-7 {
  0% {
    opacity: 0.479291666666667;
  }
  58.3433% {
    opacity: 0.25;
  }
  58.3533% {
    opacity: 1;
  }
  18.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.479291666666667;
  }
}
@-webkit-keyframes leaf-8 {
  0% {
    opacity: 0.583458333333333;
  }
  66.6767% {
    opacity: 0.25;
  }
  66.6867% {
    opacity: 1;
  }
  26.6767% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.583458333333333;
  }
}
@-webkit-keyframes leaf-9 {
  0% {
    opacity: 0.687625;
  }
  75.01% {
    opacity: 0.25;
  }
  75.02% {
    opacity: 1;
  }
  35.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.687625;
  }
}
@-webkit-keyframes leaf-10 {
  0% {
    opacity: 0.791791666666667;
  }
  83.3433% {
    opacity: 0.25;
  }
  83.3533% {
    opacity: 1;
  }
  43.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.791791666666667;
  }
}
@-webkit-keyframes leaf-11 {
  0% {
    opacity: 0.895958333333333;
  }
  91.6767% {
    opacity: 0.25;
  }
  91.6867% {
    opacity: 1;
  }
  51.6767% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.895958333333333;
  }
}
/*加载动画 end*/
/*向上弹出菜单 start*/
.actionsheet-animationInUp {
  -webkit-animation: bounceInUp .3s ease both;
  -moz-animation: bounceInUp .3s ease both;
  display: block;
}
@-webkit-keyframes bounceInUp {
  0% {
    display: none;
    -webkit-transform: translateY(100%);
  }
  100% {
    display: block;
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceInUp {
  0% {
    display: none;
    transform: translateY(100%);
  }
  100% {
    display: block;
    ransform: translateY(0);
  }
}
.actionsheet-animationDown {
  -webkit-animation: bounceInDown .3s ease both;
  -moz-animation: bounceInDown .3s ease both;
  display: block;
}
@-webkit-keyframes bounceInDown {
  0% {
    display: block;
    -webkit-transform: translateY(0);
  }
  100% {
    display: none;
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    display: block;
    -moz-transform: translateY(0);
  }
  100% {
    display: none;
    -moz-transform: translateY(100%);
  }
}
/*向上弹出菜单动画 end*/
.tabBox {
  margin: 0 auto;
  margin-top: 0.31rem;
  *zoom: 1;
  clear: both;
  zoom: 1;
  *height: 0;
  *overflow: hidden;
  width: 90%;
  color: #fff;
  display: flex;
}
.tabBox:before,
.tabBox:after {
  content: "";
  display: table;
}
.tabBox:after {
  clear: both;
}
.tabBox li {
  margin-right: 0.16rem;
  height: 0.94rem;
  line-height: 0.94rem;
  padding-left: 0.31rem;
  padding-right: 0.31rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  background: #333;
  text-align: center;
  flex: 1;
  overflow: hidden;
}
.tabBox li.active {
  background: #333 !important;
}
.tabBox li:last-child {
  margin-right: 0;
}
.tabCon {
  display: none;
  width: 100%;
  min-height: 500px;
}
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-slide {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  /* Center slide text vertically */
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev {
  background: red;
  left: 10px;
  right: auto;
}
.swiper-button-next {
  background: red;
  right: 10px;
  left: auto;
}
.ul01 {
  border-top: 1px solid #ccc;
}
.ul01 li {
  padding-left: 0.16rem;
  padding-right: 0rem;
  padding-top: 0.23rem;
  padding-bottom: 0.23rem;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: block;
  border-bottom: 1px solid #ccc;
}
.more {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  padding-bottom: 15px;
}
#wrapper {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
#wrapper ul li {
  font-size: 14px;
  color: #333 !important;
}
[data-dpr="1.5"] #wrapper ul li {
  font-size: 37px;
}
[data-dpr="2"] #wrapper ul li {
  font-size: 28px;
}
[data-dpr="2.5"] #wrapper ul li {
  font-size: 35px;
}
[data-dpr="2.75"] #wrapper ul li {
  font-size: 39px;
}
[data-dpr="3"] #wrapper ul li {
  font-size: 42px;
}
[data-dpr="4"] #wrapper ul li {
  font-size: 56px;
}
.scroller {
  position: absolute;
  z-index: 1;
  /*	-webkit-touch-callout:none;*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
}
.scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}
.scroller li {
  background-color: #fafafa;
  font-size: 14px;
}
.pullUp {
  font-size: 14px;
  height: 0.63rem;
  line-height: 0.63rem;
  text-align: center;
  color: #888;
  font-family: Arial, Microsoft YaHei;
  display: block;
}
[data-dpr="1.5"] .pullUp {
  font-size: 37px;
}
[data-dpr="2"] .pullUp {
  font-size: 28px;
}
[data-dpr="2.5"] .pullUp {
  font-size: 35px;
}
[data-dpr="2.75"] .pullUp {
  font-size: 39px;
}
[data-dpr="3"] .pullUp {
  font-size: 42px;
}
[data-dpr="4"] .pullUp {
  font-size: 56px;
}
.loader {
  display: inline-block;
  font-size: 0px;
  padding: 0px;
  display: none;
}
.loader span {
  width: 0.16rem;
  height: 0.16rem;
  margin-left: 0.16rem;
  margin-right: 0.16rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  vertical-align: middle;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: loader 0.8s linear infinite alternate;
  animation: loader 0.8s linear infinite alternate;
}
.loader span:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: rgba(245, 103, 115, 0.6);
}
.loader span:nth-child(2) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: rgba(245, 103, 115, 0.8);
}
.loader span:nth-child(3) {
  -webkit-animation-delay: -0.26666s;
  animation-delay: -0.26666s;
  background: #f56773;
}
.loader span:nth-child(4) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: rgba(245, 103, 115, 0.8);
}
.loader span:nth-child(5) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: rgba(245, 103, 115, 0.4);
}
@keyframes loader {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}
